body {
    font-family: Roboto, sans-serif;
    display: flex;
    padding: 0 150px;
    margin: 0;
    background-color: #1F2937;
    /*justify-content: center;*/
    flex-direction: column;
}

img {
    display: flex;
    flex-shrink: 0;
    height: 300px;
    width: 450px;
}

h1  {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.header {
    justify-content: space-between;
}

.header, .footer {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer {
    justify-content: center;
}

.hero {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    gap: 15px;
    /*margin-bottom: 10px;*/
    align-content: center;
    max-width: 600px;
}

.header, .footer {
    align-items: center;
}

.logo, h1, .footer {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.nav {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    gap: 8px;
}

button {
    display: inline-block;
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #3882F6;
    border: 1px solid royalblue;
    color: white;
    font-weight: 700;
}

.info {
    background-color: #F9FAF8;
    color: #1F2937;
    text-align: center;
}
